@model IEnumerable<PontoEletronico.Models.TimesheetModel>

@{
    ViewBag.Title = "Home";
}

<div align="center">
    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post))
    {
        <div class="box-header">
            <div style="float: left;">
                <button class="button-exit" type="submit">
                    <img src="~/logo.png" class="logo" />
                </button>
                @{
                    var httpCookie = Request.Cookies["tokenModel"];
                    if (httpCookie != null)
                    {
                        var obj = Newtonsoft.Json.JsonConvert.DeserializeObject<PontoEletronico.Models.TokenModel>(httpCookie.Value);

                        <div>
                            <p id="welcome">
                                Olá, @obj.name!
                            </p>
                        </div>
                    }
                }
            </div>
            <div style="float: right;">
                <button type="submit" class="glyphicon glyphicon-remove-sign button-exit" aria-hidden="true"></button>
            </div>
        </div>
    }
    <div class="box-time">
        <div>
            <p id="time"></p>
        </div>
        <div style="width: 6em;"></div>
        <div>
            <p id="totalTime"></p>
        </div>
    </div>
    @using (Html.BeginForm("Update", "Home", FormMethod.Post))
    {
        <div class="box-button">
            <div class="">
                <button type="submit" class="btn btn-primary button" name="evento" id="1" value="1">CHEGUEI</button>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary button" name="evento" id="2" value="2">FUI ALMOÇAR</button>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary button" name="evento" id="3" value="3">VOLTEI</button>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary button" name="evento" id="4" value="4">FUI</button>
            </div>
        </div>
    }
</div>

<div class="table-box">
    <table class="table">
        <tr>
            <th>DATA</th>
            <th>HORA INÍCIO</th>
            <th>ALMOÇO INÍCIO</th>
            <th>ALMOÇO FIM</th>
            <th>HORA FIM</th>
            <th>TEMPO</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.start).ToString().Substring(0, 10)</td>
                <td>@Html.DisplayFor(modelItem => item.start).ToString().Substring(10, 9)</td>
                <td>@Html.DisplayFor(modelItem => item.startLunch).ToString().Substring(10, 9)</td>
                <td>@Html.DisplayFor(modelItem => item.endLunch).ToString().Substring(10, 9)</td>
                <td>@Html.DisplayFor(modelItem => item.end).ToString().Substring(10, 9)</td>
                <td>@Html.DisplayFor(modelItem => item.totalTime).ToString().Substring(10, 9)</td>
            </tr>
        }
    </table>
</div>

<style>
    .box-header {
        width: 100%;
        padding-top: 3em;
        padding-bottom: 5em;
    }

    .box-time {
        display: flex;
        justify-content: center;
    }

    .box-button {
        display: flex;
        justify-content: space-between;
        width: 50em;
        padding: 1rem;
    }

    .button-exit {
        color: #fccd2a;
        font-size: 2.5em;
        background-color: #1e5084;
        border: none;
    }

    .button {
        color: #ffff;
        background-color: #1e5084;
        width: 10em;
        border: solid;
        border-color: #fccd2a;
    }

        .button:hover {
            background-color: #fccd2a;
            color: #1e5084;
        }

        .button:focus {
            border-color: #1e5084;
            background-color: #fccd2a;
            color: #1e5084;
        }

    .table-box {
        background: #ffff;
    }

    th {
        border: solid;
        border-color: #1e5084 !important;
        background-color: #1e5084;
        color: #fccd2a;
    }

    td {
        border: solid;
        border-color: #1e5084;
    }

    #welcome {
        font-size: 1.5em;
        color: #ffff;
    }

    #time {
        font-size: 1.5em;
        color: #ffff;
    }

    #totalTime {
        font-size: 1.5em;
        color: #fccd2a;
    }
</style>

<script>
    var timeDisplay = document.getElementById("time");
    var totalTime = document.getElementById("totalTime");

    var totalTimeCount = new Date('@Model.OrderBy(x => x.id).Last().totalTime.ToString("O")');

    function refreshTime() {
        var now = new Date();
        var dateStringNow = now.toLocaleString("pt-BR", { timeZone: "America/Sao_Paulo" });
        var formattedStringNow = dateStringNow.replace(",", " ");

        totalTimeCount.setSeconds(totalTimeCount.getSeconds() + 1);
        var dateStringTotal = totalTimeCount.toLocaleString("pt-BR", { timeZone: "America/Sao_Paulo" });
        var formattedStringTotal = dateStringTotal.substring(9,18);

        timeDisplay.innerHTML = formattedStringNow;
        totalTime.innerHTML = 'Tempo ' + formattedStringTotal;
    }

    setInterval(refreshTime, 1000);
</script>